#my_camera{
  width: 320px;
  height: 240px;
  border: 1px solid black;
  margin-left:39%;
 }
 
 body, html {
   height: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;
   scroll-behavior: smooth;
   overflow-y: scroll;
 }
 
 
 
 .buttons{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:black;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
 }
 
 .hero-image {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("sec.jpg");
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  /* position: relative;
   margin-top:10%;*/
   
 }
 
 .hero-text {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }
 
 .hero-text button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 10px 25px;
   color: black;
   background-color: #ddd;
   text-align: center;
   cursor: pointer;
 }
 
 .hero-text button:hover {
   background-color: #555;
   color: white;
 }